# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 <b>Objectives: <b>
 -   List popular languages for Data Science
 -   List popular libraries for Data Science
 -   List popular Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ggplot

| Data Science Tools |
|:--------:|
|  Gitlab  | 
|  Hadoop  |
|  Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Robin